# Cachés y temporales de Neovim
.netrwhist
*.log

# Caché de temas NvChad
/base46/

# Conexiones guardadas de Dadbod
/db_ui/

# Neovim local data
/shada/
/undo/

# Entornos virtuales (MUY IMPORTANTE)
.venv/
env/
venv/
__pycache__/

# Archivos de sistema
.DS_Store
